include navbar

block content
    .container.mt-5
        div#aviso
        .row.justify-content-center
            .col-md-6
                .card.shadow-sm
                    .card-header.text-center.bg-light
                        h4 Recuperar Contrase침a
                    .card-body
                        if error
                            .alert.alert-danger.text-center(role="alert")
                                p= error
                        if success
                            .alert.alert-success.text-center(role="alert")
                                p= success
                        form(method='POST' action='/forgotPassword')
                            .form-group
                                label(for='email') Correo Electr칩nico
                                input#email.form-control(type='email' name='email', required=true, placeholder='Introduce tu correo electr칩nico')
                            button.btn.btn-primary.btn-block.mt-4(type='button' onclick="enviarCorreo()") Enviar correo de recuperaci칩n

    script.
        const enviarCorreo = () => {
            fetch('/forgotPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: document.getElementById('email').value
                })
            })
            .then(response => response.json())
            .then(data => {
                if(data.error)
                    avisoError(data.error);
                else
                    avisoExito(data.success);
            }).catch(error => {
                console.error('Fetch error:', error);
                avisoError('Error al enviar el correo');
            })
        }