doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/principal.css")
    link(rel="stylesheet" href="/css/layout.css")
    link(rel="stylesheet" href="/css/login.css")
    

    //public\css\bootstrap-5.3.3-dist\bootstrap-5.3.3-dist\js\bootstrap.bundle.min.js
    //- script(src="https://kit.fontawesome.com/7c4f6093dd.js" crossorigin='anonymous')
    script(defer src="/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js")
    script(defer src="fontawesome/js/all.min.js") 
    title Equipo 7
  body
    header#header
      nav.navbar.navbar-expand-lg
        a.navbar-brand(href="/")
          img(src="/img/logo.png" alt="Logo")
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/#productos") Nuestros productos
            li.nav-item
              a.nav-link(href="/historial_de_compras") Mis compras
            li.nav-item
              a.nav-link(href="/wishlist")
                i.fa-solid.fa-heart.fa-beat
            li.nav-item
              a.nav-link(href="/carrito")
                i.fa-solid.fa-cart-shopping
            li.nav-item
              if informacion
                a.nav-link(href="/perfil")= informacion.nombre
              else
                a.nav-link(href="/login")
                  i.fa-solid.fa-right-to-bracket
    script.
      function abrirModalCerrarSesion() {
        let confirmLogoutModal = new bootstrap.Modal(document.getElementById('confirmLogoutModal'));
        confirmLogoutModal.show();
      }

      function sinPermisos() {
        alert("No tienes permisos para acceder a esta sección");
      }

      function login(){
        //se que hacer un include login.pug
      }
  block content
