doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/principal.css")
    link(rel="stylesheet" href="/css/layout.css")
    script(defer src="/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js")
    script(src="https://kit.fontawesome.com/7c4f6093dd.js" crossorigin='anonymous')
    title Equipo 7
  body
    <header>
      <nav class="menu">
        //- <label for="" class="breand">
        <a href="/">
          <img style="" src="/img/logo.png">
        </a>
        //- </label>
        <ul id="menuItems">
          <li><a href="/productos">Nuestros productos</a></li>
          <li><a href="/historial_de_compras">Mis compras</a></li>
          <li><a href="/wishlist"><i class="fa-solid fa-heart fa-beat"></i></a></li>
          <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </header>
    script.
      function abrirModalCerrarSesion() {
        let confirmLogoutModal = new bootstrap.Modal(document.getElementById('confirmLogoutModal'));
        confirmLogoutModal.show();
      }

      function sinPermisos() {
        alert("No tienes permisos para acceder a esta sección");
      }

  block content
