form(action="/auth" method="POST")
  .mb-3
    label(for="email" class="form-label") Correo electronico
    input(type="text" class="form-control" id="email" name="email" placeholder="Ingrese su correo electronico", required)
  .mb-3
    label(for="Contra" class="form-label") Contraseña
    input(type="password" class="form-control" id="Contra" name="password" placeholder="Ingrese su contraseña", required)
    a(href="/documentosimportantes") Si usted ingresa al sistema acepta estos terminos y condiciones
  button(type="submit" class="btn btn-primary btn-block") Iniciar sesión
