include navbar
block content
    .container.mt-5
        .row
            .col-lg-8.offset-lg-2
                div#aviso
                .card.shadow.mb-4
                    .card-body
                        
                        h1.text-center.mb-4 Perfil de usuario
                        .row.mb-3
                            .col-12.text-center
                                h2.text-muted= informacion.nombre
                                h4.text-muted= informacion.email
                        .row.mb-3
                            .col-12.text-center
                                a.btn.btn-danger(href="/logout") Cerrar sesión
                .card.shadow.mt-4
                    .card-body
                        h2.text-center.mb-4 Cambiar contraseña
                        form#changePasswordForm
                            .mb-3
                                label.form-label(for="currentPassword") Contraseña actual
                                input.form-control#currentPassword(type="password" required)
                            .mb-3
                                label.form-label(for="newPassword") Nueva contraseña
                                input.form-control#newPassword(type="password" required)
                            .mb-3
                                label.form-label(for="confirmPassword") Repetir nueva contraseña
                                input.form-control#confirmPassword(type="password" required)
                            .text-center
                                button.btn.btn-primary.btn-block(type="submit") Cambiar contraseña
    script.
        document.querySelector('#changePasswordForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const currentPassword = document.querySelector('#currentPassword').value;
            const newPassword = document.querySelector('#newPassword').value;
            const confirmPassword = document.querySelector('#confirmPassword').value;

            if (newPassword !== confirmPassword) {
                avisoError('Las contraseñas no coinciden');
                return;
            }

            try {
                const response = await fetch('/changePassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        currentPassword,
                        newPassword,
                    }),
                });

                const result = await response.json();

                if (result.success) {
                    avisoExito('Contraseña cambiada con éxito');
                } else {
                    avisoError('Error al cambiar la contraseña: ' + result.message);
                }
            } catch (error) {
                console.error('Error:', error);
                avisoError('Error al cambiar la contraseña');
            }
        });
