extends layout
block content
  .container.mt-3
    .row.justify-content-center
      .col-md-6.text-center
        h1 Bienvenido a la tienda de frutas del diablo
      //- if datos.error
      //-   .alert.alert-danger
      //-     p= datos.error
      div#carouselExampleInterval.carousel.slide.mt-3(data-bs-ride="carousel")
        .carousel-inner
          each img, index in ['/img/foto1.jpg', '/img/foto2.jpg']
            .carousel-item(class=index === 0 ? 'active' : '', data-bs-interval= '2500')
              img.d-block.w-100.h-100(object-fit="cover", src=img, alt=`Slide ${index + 1}`)

        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous

        button.carousel-control-next(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next
        //- <br>
        //- <br>
        //- <br>
        //- a(name="productos")
          

      
    script.
      //- const datos = !{JSON.stringify(datos)};
      //- console.log(datos);
