extends layout
block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6.text-center
        h1 Bienvenido a la tienda de frutas del diablo
      //- if datos.error
      //-   .alert.alert-danger
      //-     p= datos.error
      div#carouselExampleInterval.carousel.slide(data-bs-ride="carousel")
        .carousel-inner
          each img, index in ['/img/foto1.jpg', '/img/foto2.jpg']
            .carousel-item(class=index === 0 ? 'active' : '', data-bs-interval= '2500')
              img.d-block.w-100.h-100(object-fit="cover", src=img, alt=`Slide ${index + 1}`)

        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous

        button.carousel-control-next(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next
        <br>
        <br>
        <br>
        a(name="productos")
          

      <div class="card" style="width: 18rem;">
         <a href="/product/{{product.id}}" class="stretched-link">
          <img src="/img/Mera_Mera_no_Mi.webp" class="card-img-top" alt="...">
          hr
          <div class="card-body">
            <h5 class="card-title">Mera Mera no Mi</h5>
            <p class="card-text">La Mera Mera no Mi</p>
          </div>
          <div class="card-body">
            <i class="fa-regular fa-heart"></i>
            <a href="#" class="card-link">Añadir a Carrito</a>
          </div>
          </a>
      </div>
      <div class="card" style="width: 18rem; position: relative;">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>
        <div class="card-body">
          <i class="fa-regular fa-heart"></i>
          <a href="#" class="card-link">Añadir a Carrito</a>
        </div>
        <a href="/product/{{product.id}}" class="stretched-link"></a>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="/img/Fruta_Baku_Baku.webp" class="card-img-top" alt="...">
          hr
          <div class="card-body">
            <h5 class="card-title">Baku Baku no Mi</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus sed aliquid consequatur placeat totam rerum accusantium, dolorum consequuntur cupiditate cumque!</p>
          </div>
          <div class="card-body">
            <i class="fa-regular fa-heart"></i>
            <a href="#" class="card-link">Añadir a Carrito</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="/img/Fruta_Bara_Bara.webp" class="card-img-top" alt="...">
          hr
          <div class="card-body">
            <h5 class="card-title">Bara Bara no Mi</h5>
            <p class="card-text">La Bara Bara no Mi</p>
          </div>
          <div class="card-body">
            <i class="fa-regular fa-heart"></i>
            <a href="#" class="card-link">Añadir a Carrito</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="/img/Fruta_Gomu_Gomu.webp" class="card-img-top" alt="...">
          hr
          <div class="card-body">
            <h5 class="card-title">Mera Mera no Mi</h5>
            <p class="card-text">La Mera Mera no Mi</p>
          </div>
          <div class="card-body">
            <i class="fa-regular fa-heart"></i>
            <a href="#" class="card-link">Añadir a Carrito</a>
          </div>
      </div>
    script.
      //- const datos = !{JSON.stringify(datos)};
      //- console.log(datos);
